.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding-top: 20px;
  margin: 0 20px;
  min-height: calc(100vh - 199px);

  @media (min-width: 768px) {
    padding-top: 45px;
    min-height: calc(100vh - 309px);
  }

  @media (min-width: 1024px) {
    margin: 0 50px;
    max-width: 1240px;
  }
  @media (min-width: 1330px) {
    margin: 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;

    .img {
      width: 145px;
      height: 46.881px;
      flex-shrink: 0;
    }
    @media (min-width: 768px) {
      .img {
        width: 210.322px;
        height: 68px;
        flex-shrink: 0;
      }
    }

    nav {
      // width: 100%;
      // display: flex;
      // justify-content: flex-end;

      .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;

        a {
          text-decoration: none;
          .nav-item {
            color: var(--primary-color);
            text-decoration-line: none;
            text-transform: uppercase;
            list-style: none;
            text-align: right;
            font-style: normal;
            font-size: var(--font-minimum);
            font-weight: 500;
            line-height: 142.6%; /* 17.112px */
          }
          &:hover {
            text-decoration: underline;
            color: var(--primary-color);
          }
          @media (min-width: 768px) {
            .nav-item {
              font-size: var(--font-base-medium);
              text-transform: initial;
            }
          }
        }
      }
    }
  }

  .image-presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: 27px;
    font-size: var(--font-medium);
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 111px;
    flex-shrink: 0;

    @media (min-width: 768px) {
      height: 223px;
    }

    .img-2 {
      width: 180%;
      object-fit: cover;
      object-position: right;
      filter: brightness(0.7);
      font-weight: 500;
    }
    @media (min-width: 768px) {
      .img-2 {
        width: 100%;
      }
    }

    p {
      z-index: 99;
      font-weight: 500;
      color: var(--white);
      font-size: var(--font-title);
      position: absolute;
      left: 16px;
      bottom: 32px;
      width: 50%;
      font-weight: 500;
      line-height: 100%;
      font-style: normal;
    }
    @media (min-width: 768px) {
      p {
        width: 100%;
        text-align: center;
        left: auto;
        bottom: auto;
      }
    }
  }
  @media (min-width: 768px) {
    .image-presentation {
      margin-top: 50px;
    }
  }

  //home
  .main-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    border-radius: 10px;
    margin-top: 22px;
    min-height: calc(100vh - 480px);

    .card-link {
      text-decoration: none;

      .card {
        display: flex;
        flex-direction: column;
        line-height: normal;
        position: relative;

        .card-image {
          border-radius: 10px;
          aspect-ratio: 1;
          object-fit: cover;
        }
        .card-text {
          color: var(--white);
          font-size: var(--font-base-medium);
          font-style: normal;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 20px;
          max-width: 100%;
          background: linear-gradient(
            180deg,
            var(--color-start) 0%,
            var(--color-end) 100%
          );
          border-radius: 10px;
          font-size: var(--font-base-medium);
        }
      }
    }
  }
  @media (min-width: 768px) {
    .main-content {
      background-color: var(--gray);
      margin-top: 43px;
      border-radius: 25px;
      padding: 56px 50px;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      gap: 50px 60px;
    }
  }

  //about
  .main-content-about {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    width: 100%;
    margin-top: 15px;
    padding-inline: 80px;

    .collapse {
      display: flex;
      flex-direction: column;

      .collapse__header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 28px;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 18px;
        padding: 20px;
        border-radius: 5px;
        align-items: center;
        cursor: pointer;

        .chevronValue img {
          width: 25px;
          height: 15px;
        }
      }
      // create animate and keyframes bloc css
      @mixin keyframes($name) {
        @keyframes #{$name} {
          @content;
        }
      }
      @mixin animate($animation, $duration, $method, $times) {
        animation: $animation $duration $method $times;
      }
      @mixin animate_delay(
        $animation,
        $duration,
        $method,
        $delay,
        $times,
        $direction,
        $mode
      ) {
        animation: $animation $duration $method $delay $times $direction $mode;
      }
      //manage hidden and visible
      .hidden {
        display: none;
      }
      .visible {
        display: flex;
        padding: 25px 28px 20px 20px;
        gap: 10px;
        border-radius: 0 0 5px 5px;
        background: var(--gray);
        color: var(--primary-color);
        line-height: 142.6%;

        .listContent {
          padding: 0;
          opacity: 0;
          @include animate_delay(
            fadeInUL,
            300ms,
            linear,
            300ms,
            1,
            normal,
            forwards
          );
          @include keyframes(fadeInUL) {
            0% {
              transform: translateY(-20px);
              opacity: 0;
            }
            50% {
              transform: translateY(-10px);
              opacity: 0.5;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
        @include keyframes(fadeIn) {
          0% {
            transform: translateY(-20px);
          }
          50% {
            transform: translateY(-10px);
          }
          100% {
            transform: translateY(0);
          }
        }
        @include animate(fadeIn, 300ms, linear, 1);
      }
    }
  }

  // ************ Error page ***********
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;

    h1 {
      color: var(--primary-color);
      text-align: center;
      font-size: 288px;
      font-weight: 700;
      line-height: 142.6%;
      width: 597px;
      height: 263px;
    }
    .paragraph1 {
      color: var(--primary-color);
      font-size: var(--font-medium-maximum);
      line-height: 142.6%;
    }
    .paragraph2 {
      color: var(--primary-color);
      font-size: var(--font-base-medium);
      line-height: 142.6%; /* 25.668px */
      text-decoration-line: underline;
    }
  }

  //carousel
  .carousel {
    position: relative;
    height: 255px;
    width: 100%;
    margin-top: 27px;
    color: var(--black);

    .classImage {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    .index-counter {
      color: var(--white);
      .classChevronLeft {
        position: absolute;
        height: 30px;
        top: 50%;
        left: 10px;
        cursor: pointer;
      }

      .classChevronRight {
        position: absolute;
        height: 30px;
        top: 50%;
        left: 10px;
        cursor: pointer;
        left: calc(100% - 30px);
      }
    }

    .div-counter {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .carousel {
      height: 415px;

      .index-counter {
        .classChevronLeft {
          height: 79.2px;
        }

        .classChevronRight {
          height: 79.2px;
          left: calc(100% - 60px);
        }
      }

      .div-counter {
        display: block;
        position: absolute;
        top: 90%;
        left: 50%;
        color: var(--white);
      }
    }
  }

  //Property info
  .property {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    gap: 24px;

    .property-description {
      display: flex;
      flex-direction: column;
      color: var(--primary-color);
      font-weight: 500;
      line-height: 142.6%; /* 25.668px */

      .property-title {
        font-size: var(--font-base-medium);
      }

      .property-location {
        font-size: var(--font-minimum-base);
      }

      .property-tags {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        .tags {
          border-radius: 5px;
          padding: 5px 10px;
          color: #fff;
          background-color: var(--primary-color);
          text-align: center;
          font-size: var(--font-minimum-low);
        }
      }
    }

    .property-stars-creator {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .property-stars {
        .span1 {
          color: var(--primary-color);
        }

        .span2 {
          color: #e3e3e3;
        }
      }

      .property-creator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10.5px;

        p {
          color: var(--primary-color);
          font-size: var(--font-minimum);
          font-weight: 500;
          line-height: 142.6%;
        }

        img {
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 50%;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .property {
      flex-direction: row;
      justify-content: space-between;

      .property-description {
        // gap: 15px;
        .property-title {
          font-size: var(--font-medium-maximum);
          line-height: 142.6%; /* 51.336px */
        }

        .property-location {
          font-size: var(--font-base-medium);
        }

        .property-tags {
          .tags {
            font-size: var(--font-minimum-base);
          }
        }
      }

      .property-stars-creator {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10px;

        .property-creator {
          p {
            font-size: var(--font-base-medium);
          }
          img {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }

  //Property Collapse
  .property-collapse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--primary-color);
    width: 100%;
    margin-top: 24px;

    .collapse {
      display: flex;
      flex-direction: column;

      .collapse__header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 28px;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 18px;
        padding: 20px;
        border-radius: 5px;
        align-items: center;
        cursor: pointer;

        .chevronValue img {
          width: 25px;
          height: 15px;
        }
      }
      // create animate and keyframes bloc css
      @mixin keyframes($name) {
        @keyframes #{$name} {
          @content;
        }
      }
      @mixin animate($animation, $duration, $method, $times) {
        animation: $animation $duration $method $times;
      }
      @mixin animate_delay(
        $animation,
        $duration,
        $method,
        $delay,
        $times,
        $direction,
        $mode
      ) {
        animation: $animation $duration $method $delay $times $direction $mode;
      }
      //manage hidden and visible
      .hidden {
        display: none;
      }
      .visible {
        display: flex;
        padding: 25px 28px 20px 20px;
        gap: 10px;
        border-radius: 0 0 5px 5px;
        background: var(--gray);
        color: var(--primary-color);
        line-height: 142.6%;

        .listContent {
          padding: 0;
          opacity: 0;
          @include animate_delay(
            fadeInUL,
            300ms,
            linear,
            300ms,
            1,
            normal,
            forwards
          );
          @include keyframes(fadeInUL) {
            0% {
              transform: translateY(-20px);
              opacity: 0;
            }
            50% {
              transform: translateY(-10px);
              opacity: 0.5;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
          li {
            list-style-type: none;
          }
        }
        @include keyframes(fadeIn) {
          0% {
            transform: translateY(-20px);
          }
          50% {
            transform: translateY(-10px);
          }
          100% {
            transform: translateY(0);
          }
        }
        @include animate(fadeIn, 300ms, linear, 1);
      }
    }
  }
  @media (min-width: 768px) {
    .property-collapse {
      flex-direction: row;
      gap: 75px;
      justify-content: space-between;
      .collapse {
        width: 100%;
      }
    }
  }
}
@media (min-width: 768px) {
  .continer {
    padding-top: 45px;
    min-height: calc(100vh - 199px);
  }
}

// ************ FOOTER *****************$

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  margin-top: 40px;
  max-width: 100%;
  padding: 0 20px;
  @media (min-width: 768px) {
    margin-top: 50px;
    width: 100%;
    padding: 50px 60px 32px;
  }
  .footer-container {
    display: flex;
    margin-top: 16px;
    width: 378px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;

    .img-3 {
      aspect-ratio: 3.13;
      object-fit: contain;
      object-position: center;
      width: 122px;
      overflow: hidden;
      max-width: 100%;
    }
    .footer-text {
      color: var(--white);
      text-align: center;
      margin: 40px;
    }
    @media (min-width: 768px) {
      .footer-text {
        margin: 49px;
      }
    }
  }
}
